<!-- About us -->

<section
  id="about-us"
  class="bg-about-mob dpr:bg-about-mob2x md:bg-about-tab md:dpr:bg-about-tab2x lg:bg-about-desk lg:dpr:bg-about-desk2x mt-[80px] h-[612px] bg-center bg-no-repeat px-[16px] md:mt-[100px] md:px-[32px] md:pt-[55px] lg:px-[208px] lg:pt-[71px]"
>
  <h2 class="text-40 text-center md:text-64">About us</h2>
  <div class="mt-[32px] font-lato text-16 md:mt-[64px] md:flex md:gap-[32px]">
    <p class="md:w-[369px] lg:w-[496px]">
      Welcome to our travel agency in Ukraine! We are a locally owned and
      operated travel agency that specializes in creating unique and
      unforgettable travel experiences for our clients. Our team of experienced
      travel professionals is dedicated to providing personalized service to
      help you plan your dream vacation. We have extensive knowledge of
      Ukraine's culture, history, and geography, which allows us to create
      customized itineraries that showcase the best of our beautiful country.
    </p>
    <div class="mt-[32px] md:mt-0 md:w-[369px] lg:w-[496px]">
      <p>
        We are committed to providing our clients with exceptional customer
        service and support throughout their travels. Our team is always
        available to assist you with any questions or concerns you may have
        before, during, and after your trip.
      </p>
      <p class="mt-[32px]">
        Thank you for considering our travel agency for your travel needs. We
        look forward to helping you plan an unforgettable vacation in Ukraine or
        beyond!
      </p>
    </div>
  </div>
</section>
