<!-- Gallery -->

<section id="gallery" class="mt-[80px] h-[614px] md:mt-[100px] md:h-[711px]">
  <h2 class="mb-[32px] text-center text-40 md:mb-[64px] md:text-64">Gallery</h2>

  <!-- Slider main container -->
  <div
    class="swiper h-[526px] w-[343px] md:h-[558px] md:w-[770px] lg:w-[1440px] lg:px-[32px]"
    id="swiper-gallery"
  >
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper h-[494px]">
      <!-- Slides -->

      <div class="swiper-slide w-[343px] md:w-[377px] lg:w-[400px]">
        <picture>
          <source
            srcset="
              ./images/common/gallery-1.jpg    1x,
              ./images/common/gallery-1@2x.jpg 2x
            "
          />
          <img
            src="./images/common/gallery-1.jpg"
            alt="Snowing forest"
            loading="lazy"
            class="h-full w-full object-cover"
          />
        </picture>
      </div>

      <div class="swiper-slide w-[343px] md:w-[377px] lg:w-[400px]">
        <picture>
          <source
            srcset="
              ./images/common/gallery-2.jpg    1x,
              ./images/common/gallery-2@2x.jpg 2x
            "
          />
          <img
            src="./images/common/gallery-2.jpg"
            alt="Three humans and night sky"
            loading="lazy"
            class="h-full w-full object-cover"
          />
        </picture>
      </div>

      <div class="swiper-slide w-[343px] md:w-[377px] lg:w-[400px]">
        <picture>
          <source
            srcset="
              ./images/common/gallery-3.jpg    1x,
              ./images/common/gallery-3@2x.jpg 2x
            "
          />
          <img
            src="./images/common/gallery-3.jpg"
            alt="Railroad tunel in woods"
            loading="lazy"
            class="h-full w-full object-cover"
          />
        </picture>
      </div>

      <div class="swiper-slide w-[343px] md:w-[377px] lg:w-[400px]">
        <picture>
          <source
            srcset="
              ./images/common/gallery-4.jpg    1x,
              ./images/common/gallery-4@2x.jpg 2x
            "
          />
          <img
            src="./images/common/gallery-4.jpg"
            alt="A house behind the tree"
            loading="lazy"
            class="h-full w-full object-cover"
          />
        </picture>
      </div>

      <div class="swiper-slide w-[343px] md:w-[377px] lg:w-[400px]">
        <picture>
          <source
            srcset="
              ./images/common/gallery-5.jpg    1x,
              ./images/common/gallery-5@2x.jpg 2x
            "
          />
          <img
            src="./images/common/gallery-5.jpg"
            alt="A lake, the trees and a mountain"
            loading="lazy"
            class="h-full w-full object-cover"
          />
        </picture>
      </div>

      <div class="swiper-slide w-[343px] md:w-[377px] lg:w-[400px]">
        <picture>
          <source
            srcset="
              ./images/common/gallery-6.jpg    1x,
              ./images/common/gallery-6@2x.jpg 2x
            "
          />
          <img
            src="./images/common/gallery-6.jpg"
            alt="Sand querry"
            loading="lazy"
            class="h-full w-full object-cover"
          />
        </picture>
      </div>

      <div class="swiper-slide w-[343px] md:w-[377px] lg:w-[400px]">
        <picture>
          <source
            srcset="
              ./images/common/gallery-7.jpg    1x,
              ./images/common/gallery-7@2x.jpg 2x
            "
          />
          <img
            src="./images/common/gallery-7.jpg"
            alt="An island and a pink lake"
            loading="lazy"
            class="h-full w-full object-cover"
          />
        </picture>
      </div>

      <div class="swiper-slide w-[343px] md:w-[377px] lg:w-[400px]">
        <picture>
          <source
            srcset="
              ./images/common/gallery-8.jpg    1x,
              ./images/common/gallery-8@2x.jpg 2x
            "
          />
          <img
            src="./images/common/gallery-8.jpg"
            alt="An ancient city"
            loading="lazy"
            class="h-full w-full object-cover"
          />
        </picture>
      </div>
    </div>

    <div
      class="absolute bottom-0 z-10 flex w-[343px] items-center justify-between md:w-[770px] lg:w-[1376px]"
    >
      <button type="button" class="text-grey transition-all hover:text-white">
        <svg
          class="swiper-prev-2 w-[114px] fill-current md:w-[144px]"
          viewBox="0 0 116 24"
        >
          <path
            d="M.94 10.94a1.5 1.5 0 0 0 0 2.12l9.545 9.547a1.5 1.5 0 1 0 2.122-2.122L4.12 12l8.486-8.485a1.5 1.5 0 1 0-2.122-2.122L.94 10.94ZM116 10.5H2v3h114v-3Z"
          />
        </svg>
        <span class="sr-only">left arrow</span>
      </button>

      <button type="button" class="text-grey transition-all hover:text-white">
        <svg
          class="swiper-next-2 w-[114px] fill-current md:w-[144px]"
          viewBox="0 0 116 24"
        >
          <path
            d="M115.061 13.06a1.502 1.502 0 0 0 0-2.12l-9.546-9.547a1.5 1.5 0 0 0-2.122 2.122L111.879 12l-8.486 8.485a1.501 1.501 0 0 0 2.122 2.122l9.546-9.546ZM0 13.5h114v-3H0v3Z"
          />
        </svg>
        <span class="sr-only">right arrow</span>
      </button>
    </div>
  </div>
</section>
