<!-- Hero -->

<section
  class="relative h-[812px] w-full bg-hero-mob bg-cover bg-center bg-no-repeat md:h-[1008px] md:bg-hero-tab lg:h-[800px] lg:bg-hero-desk dpr:bg-hero-mob md:dpr:bg-hero-tab2x lg:dpr:bg-hero-desk2x"
>
  <h1
    class="text-24 md:text-48 absolute left-[71px] top-[261px] w-[234px] text-center md:left-[178px] md:top-[318px] md:w-[468px] lg:left-[486px] lg:top-[206px]"
  >
    Unlock the Wonders of
  </h1>
  <p
    class="text-64 md:text-128 relative left-[71px] top-[329px] w-[234px] md:left-[178px] md:top-[410px] md:w-[468px] lg:left-[486px] lg:top-[298px]"
  >
    Ukraine
  </p>

  <!-- <p
    class="text-64 md:text-128 absolute left-[71px] top-[403px] -scale-y-100 before:h-[90px] before:w-[234px] before:bg-[--bg-hero-mirror] before:bg-clip-text md:left-[178px] md:top-[546px] lg:left-[486px] lg:top-[434px]"
  >
    Ukraine
  </p> -->
  <a
    href="#tours"
    class="absolute left-[101px] top-[483px] inline-flex h-[48px] w-[174px] items-center justify-center rounded bg-but text-16 md:left-[325px] md:top-[653px] md:h-[54px] lg:left-[633px] lg:top-[541px]"
    >Our tours</a
  >
</section>
