<!-- Hero -->

<section
  class="relative h-[812px] w-full bg-hero-mob bg-cover bg-center bg-no-repeat md:h-[1008px] md:bg-hero-tab lg:h-[800px] lg:bg-hero-desk dpr:bg-hero-mob2x md:dpr:bg-hero-tab2x lg:dpr:bg-hero-desk2x"
>
  <h1
    class="absolute left-[71px] top-[261px] w-[227px] text-center text-24 md:left-[178px] md:top-[318px] md:w-[454px] md:text-48 lg:left-[486px] lg:top-[206px]"
  >
    Unlock the Wonders of
  </h1>
  <p
    class="relative left-[71px] top-[329px] w-[234px] text-64 before:absolute before:top-[70px] before:z-10 before:-scale-y-100 before:bg-mirror before:bg-clip-text before:text-transparent before:content-['Ukraine'] md:left-[178px] md:top-[410px] md:w-[468px] md:text-128 md:before:top-[131px] lg:left-[486px] lg:top-[298px]"
  >
    Ukraine
  </p>
  <a
    href="#tours"
    class="absolute left-[101px] top-[483px] z-40 inline-flex h-[48px] w-[174px] items-center justify-center rounded bg-but text-16 transition-all hover:border hover:border-solid hover:border-white hover:bg-bg md:left-[325px] md:top-[653px] md:h-[54px] lg:left-[633px] lg:top-[541px]"
    >Our tours</a
  >

  <ul
    class="absolute bottom-[32px] right-[136px] flex gap-[15px] md:bottom-[64px] md:right-[32px] md:flex-col lg:bottom-[100px]"
  >
    <li>
      <a href="#">
        <svg
          class="h-6 w-6 fill-current transition-all hover:text-white/70"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 7.5a4.5 4.5 0 1 0 0 9 4.5 4.5 0 0 0 0-9Zm0 7.5a3 3 0 1 1 0-5.999A3 3 0 0 1 12 15Zm4.5-12.75h-9A5.256 5.256 0 0 0 2.25 7.5v9a5.256 5.256 0 0 0 5.25 5.25h9a5.256 5.256 0 0 0 5.25-5.25v-9a5.256 5.256 0 0 0-5.25-5.25Zm3.75 14.25a3.75 3.75 0 0 1-3.75 3.75h-9a3.75 3.75 0 0 1-3.75-3.75v-9A3.75 3.75 0 0 1 7.5 3.75h9a3.75 3.75 0 0 1 3.75 3.75v9ZM18 7.125a1.125 1.125 0 1 1-2.25 0 1.125 1.125 0 0 1 2.25 0Z"
          />
        </svg>
        <span class="sr-only">Instagram</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg
          class="h-6 w-6 fill-current transition-all hover:text-white/70"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 2.25A9.75 9.75 0 1 0 21.75 12 9.76 9.76 0 0 0 12 2.25Zm.75 17.965V14.25H15a.75.75 0 1 0 0-1.5h-2.25V10.5a1.5 1.5 0 0 1 1.5-1.5h1.5a.75.75 0 1 0 0-1.5h-1.5a3 3 0 0 0-3 3v2.25H9a.75.75 0 1 0 0 1.5h2.25v5.965a8.25 8.25 0 1 1 1.5 0Z"
          />
        </svg>
        <span class="sr-only">Facebook</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg
          class="h-6 w-6 fill-current transition-all hover:text-white/70"
          viewBox="0 0 24 24"
        >
          <path
            d="M22.207 2.455a.844.844 0 0 0-.859-.147L2.35 9.743a1.333 1.333 0 0 0 .228 2.551l4.923.967v5.489a1.492 1.492 0 0 0 .937 1.39 1.492 1.492 0 0 0 1.642-.35l2.373-2.461 3.766 3.296a1.489 1.489 0 0 0 1.454.3 1.486 1.486 0 0 0 1-1.09l3.806-16.554a.843.843 0 0 0-.27-.826ZM16.475 5.83l-8.399 6.015-4.65-.912 13.05-5.103ZM9 18.75v-4.451l2.324 2.038L9 18.75Zm8.206.75-7.752-6.797 11.157-7.996L17.206 19.5Z"
          />
        </svg>
        <span class="sr-only">Telegram</span>
      </a>
    </li>
  </ul>
</section>
