<!-- Reviews -->

<section
  id="reviews"
  class="bg-reviews-mob dpr:bg-reviews-mob2x md:bg-reviews-tab md:dpr:bg-reviews-tab2x lg:bg-reviews-desk lg:dpr:bg-reviews-desk2x mt-[70px] h-[527px] bg-cover bg-center bg-no-repeat py-[32px] md:mt-[90px] md:h-[696px] md:py-[57px] lg:h-[698px] lg:py-[64px]"
>
  <h2
    class="mb-[32px] text-center text-40 md:mb-[42px] md:text-64 lg:mb-[64px]"
  >
    Reviews
  </h2>

  <!-- Slider main container -->
  <div
    class="swiper h-[407px] w-[375px] px-[16px] md:h-[506px] md:w-[834px] md:px-[32px] lg:h-[480px] lg:w-[1440px]"
    id="swiper-reviews"
  >
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper h-[343px] md:h-[352px]">
      <!-- Slides -->

      <div
        class="swiper-slide w-[343px] rounded border border-solid border-white p-[32px] md:w-[320px]"
      >
        <div class="flex gap-[24px]">
          <div class="h-[80px] w-[80px]">
            <picture>
              <source
                srcset="
                  ./images/common/reviewer-1.jpg    1x,
                  ./images/common/reviewer-1@2x.jpg 2x
                "
              />
              <img
                src="./images/common/reviewer-1.jpg"
                alt="first reviewer"
                loading="lazy"
                class="h-full w-full rounded-full object-cover"
              />
            </picture>
          </div>

          <div class="py-[10px]">
            <p class="md:text-20 text-18">Dmitro</p>
            <div class="mt-[11px] flex gap-[4px] md:mt-[8px]">
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
            </div>
          </div>
        </div>
        <p class="mt-[32px] h-[176px] overflow-hidden font-lato text-16">
          It was an incredible trip and I am very grateful to the organizers for
          the opportunity to learn more about our country
        </p>
      </div>

      <div
        class="swiper-slide w-[343px] rounded border border-solid border-white p-[32px] md:w-[320px]"
      >
        <div class="flex gap-[24px]">
          <div class="h-[80px] w-[80px]">
            <picture>
              <source
                srcset="
                  ./images/common/reviewer-2.jpg    1x,
                  ./images/common/reviewer-2@2x.jpg 2x
                "
              />
              <img
                src="./images/common/reviewer-2.jpg"
                alt="second reviewer"
                loading="lazy"
                class="h-full w-full rounded-full object-cover"
              />
            </picture>
          </div>

          <div class="py-[10px]">
            <p class="md:text-20 text-18">Alisa</p>
            <div class="mt-[11px] flex gap-[4px] md:mt-[8px]">
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
            </div>
          </div>
        </div>
        <p class="mt-[32px] h-[176px] overflow-hidden font-lato text-16">
          I really like to travel and try to do it as often as possible. The
          last one was to Lake Synevir and it was very cool, a great route, a
          comfortable bus, delicious food. I will definitely go somewhere else
          with you
        </p>
      </div>

      <div
        class="swiper-slide w-[343px] rounded border border-solid border-white p-[32px] md:w-[320px]"
      >
        <div class="flex gap-[24px]">
          <div class="h-[80px] w-[80px]">
            <picture>
              <source
                srcset="
                  ./images/common/reviewer-3.jpg    1x,
                  ./images/common/reviewer-3@2x.jpg 2x
                "
              />
              <img
                src="./images/common/reviewer-3.jpg"
                alt="third reviewer"
                loading="lazy"
                class="h-full w-full rounded-full object-cover"
              />
            </picture>
          </div>

          <div class="py-[10px]">
            <p class="md:text-20 text-18">Marry</p>
            <div class="mt-[11px] flex gap-[4px] md:mt-[8px]">
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
            </div>
          </div>
        </div>
        <p class="mt-[32px] h-[176px] overflow-hidden font-lato text-16">
          Great tour. I really liked the atmosphere, professional approach and
          very interesting information
        </p>
      </div>

      <div
        class="swiper-slide w-[343px] rounded border border-solid border-white p-[32px] md:w-[320px]"
      >
        <div class="flex gap-[24px]">
          <div class="h-[80px] w-[80px]">
            <picture>
              <source
                srcset="
                  ./images/common/reviewer-4.jpg    1x,
                  ./images/common/reviewer-4@2x.jpg 2x
                "
              />
              <img
                src="./images/common/reviewer-4.jpg"
                alt="fourth reviewer"
                loading="lazy"
                class="h-full w-full rounded-full object-cover"
              />
            </picture>
          </div>

          <div class="py-[10px]">
            <p class="md:text-20 text-18">Fedir</p>
            <div class="mt-[11px] flex gap-[4px] md:mt-[8px]">
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
              <svg fill="none" viewBox="0 0 24 22" class="h-6 w-6">
                <path
                  d="m12 0 3.174 7.631 8.239.66-6.277 5.378 1.917 8.04L12 17.4l-7.053 4.308 1.917-8.04L.587 8.293l8.239-.66L12 0Z"
                  fill="#AE990B"
                />
              </svg>
            </div>
          </div>
        </div>
        <p class="mt-[32px] h-[176px] overflow-hidden font-lato text-16">
          We traveled with a company and it was incredible, everyone without
          exception was satisfied and we will definitely go somewhere else with
          you and will recommend it to everyone
        </p>
      </div>
    </div>

    <div
      class="absolute bottom-[22px] left-1/2 z-10 flex w-[343px] -translate-x-1/2 items-center justify-between md:bottom-[42px] md:w-[770px] lg:bottom-[49px] lg:w-[496px]"
    >
      <button type="button" class="text-grey transition-all hover:text-white">
        <svg
          class="swiper-prev-3 w-[114px] fill-current md:w-[144px]"
          viewBox="0 0 116 24"
        >
          <path
            d="M.94 10.94a1.5 1.5 0 0 0 0 2.12l9.545 9.547a1.5 1.5 0 1 0 2.122-2.122L4.12 12l8.486-8.485a1.5 1.5 0 1 0-2.122-2.122L.94 10.94ZM116 10.5H2v3h114v-3Z"
          />
        </svg>
        <span class="sr-only">left arrow</span>
      </button>

      <button type="button" class="text-grey transition-all hover:text-white">
        <svg
          class="swiper-next-3 w-[114px] fill-current md:w-[144px]"
          viewBox="0 0 116 24"
        >
          <path
            d="M115.061 13.06a1.502 1.502 0 0 0 0-2.12l-9.546-9.547a1.5 1.5 0 0 0-2.122 2.122L111.879 12l-8.486 8.485a1.501 1.501 0 0 0 2.122 2.122l9.546-9.546ZM0 13.5h114v-3H0v3Z"
          />
        </svg>
        <span class="sr-only">right arrow</span>
      </button>
    </div>
  </div>
</section>
