<!-- Tours  -->

<section
  id="tours"
  class="mt-[80px] h-[1123px] md:mt-[100px] md:h-[1232px] lg:h-[1278px]"
>
  <h2 class="mb-[32px] text-center text-40 md:mb-[64px] md:text-64">
    Our tours
  </h2>

  <!-- Slider main container -->
  <div
    class="swiper h-[1035px] w-[375px] md:h-[1078px] md:w-[834px] lg:h-[1124px] lg:w-[1440px]"
    id="swiper-tours"
  >
    <!-- Additional required wrapper -->
    <div
      class="swiper-wrapper h-[1035px] w-[375px] md:h-[1078px] md:w-[834px] lg:h-[1117px] lg:w-[1440px]"
    >
      <!-- Slides -->

      <div class="swiper-slide w-[375px] md:w-[834px] lg:w-[704px]">
        <picture>
          <source
            media="(max-width: 833px)"
            srcset="
              ./images/mob/mob-tours-1.jpg    1x,
              ./images/mob/mob-tours-1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 834px) and (max-width: 1439px)"
            srcset="
              ./images/tab/tab-tours-1.jpg    1x,
              ./images/tab/tab-tours-1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desk/desk-tours-1.jpg    1x,
              ./images/desk/desk-tours-1@2x.jpg 2x
            "
          />
          <img
            src="./images/mob/mob-tours-1.jpg"
            alt="Forest and mountains behind the lake"
            loading="lazy"
            class="h-[409px] w-full object-cover md:h-[642px] lg:h-[515px] lg:w-[704px] lg:rounded-md"
          />
        </picture>

        <div
          class="w-full px-[16px] pt-[16px] md:px-[32px] md:pt-[40px] lg:w-[704px] lg:pt-[106px]"
        >
          <h3 class="h-[68px] text-24 md:h-[45px] md:text-32">
            Lake Synevyr and Shipit waterfall
          </h3>
          <div
            class="pt-[16px] md:flex md:gap-[32px] md:pt-[24px] lg:block lg:gap-0 lg:pt-[32px]"
          >
            <ul
              class="h-[220px] w-[343px] list-outside list-disc pl-[25px] font-lato text-16 md:h-[154px] md:w-[496px]"
            >
              <li>Departure from Lviv (07:00) / Stryi (08:00)</li>
              <li>Pylypets (overview of Shipit waterfall and lunch)</li>
              <li>
                Synevyr Pass (photographing and viewing of Carpathian panoramas)
              </li>
              <li>
                "Synevyr" National Park (brown bear rehabilitation center and
                transition to the lake)
              </li>
              <li>Stryi (21:00)/Lviv (return by 22:00)</li>
            </ul>

            <div class="mt-[16px] text-18 md:mt-0 lg:mt-[18px]">
              <p>Included:</p>
              <ul class="mt-[17px] flex flex-col gap-[10px] font-lato text-16">
                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-transfer"></use>
                  </svg>
                  <span>Transfer</span>
                </li>

                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-card"></use>
                  </svg>
                  <span>Travel insurance</span>
                </li>

                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-face"></use>
                  </svg>
                  <span>Professional guide</span>
                </li>

                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-ticket"></use>
                  </svg>
                  <span>Travel insurance</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="mt-[32px] lg:flex lg:gap-[46px]">
            <button
              type="button"
              class="flex h-[54px] w-full items-center justify-center rounded bg-but text-16 transition-all hover:border hover:border-solid hover:border-white hover:bg-bg md:w-[169px] lg:w-[144px]"
            >
              Book
            </button>
            <div class="hidden w-[320px] gap-[72px] text-32 lg:flex">
              <span>Price:</span>
              <span>2000 UAH</span>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide w-[375px] md:w-[834px] lg:w-[704px]">
        <picture>
          <source
            media="(max-width: 833px)"
            srcset="
              ./images/mob/mob-tours-2.jpg    1x,
              ./images/mob/mob-tours-2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 834px) and (max-width: 1439px)"
            srcset="
              ./images/tab/tab-tours-2.jpg    1x,
              ./images/tab/tab-tours-2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desk/desk-tours-2.jpg    1x,
              ./images/desk/desk-tours-2@2x.jpg 2x
            "
          />
          <img
            src="./images/mob/mob-tours-2.jpg"
            alt="Woman near the house"
            loading="lazy"
            class="h-[409px] w-full object-cover md:h-[642px] lg:h-[515px] lg:w-[704px] lg:rounded-md"
          />
        </picture>

        <div
          class="px-[16px] pt-[16px] md:px-[32px] md:pt-[40px] lg:pt-[106px]"
        >
          <h3 class="h-[68px] text-24 md:h-[45px] md:text-32">
            Ancient History & Vibrant Present
          </h3>
          <div
            class="pt-[16px] md:flex md:gap-[32px] md:pt-[24px] lg:block lg:gap-0 lg:pt-[32px]"
          >
            <ul
              class="h-[220px] w-[343px] list-outside list-disc pl-[25px] font-lato text-16 md:h-[154px] md:w-[496px]"
            >
              <li>Departure from Kiev (08:00)</li>
              <li>
                St. Sophia's Cathedral (iconic UNESCO World Heritage site)
              </li>
              <li>Golden Gate (historical monument visit)</li>
              <li>Bessarabsky Market (tasting local delicacies)</li>
              <li>
                Kiev Pechersk Lavra (exploration of the significant monastery)
              </li>
              <li>Return to Kiev by 20:00</li>
            </ul>

            <div class="mt-[16px] text-18 md:mt-0 lg:mt-[18px]">
              <p>Included:</p>
              <ul class="mt-[17px] flex flex-col gap-[10px] font-lato text-16">
                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-transfer"></use>
                  </svg>
                  <span>Transfer</span>
                </li>

                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-card"></use>
                  </svg>
                  <span>Travel insurance</span>
                </li>

                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-face"></use>
                  </svg>
                  <span>Professional guide</span>
                </li>

                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-ticket"></use>
                  </svg>
                  <span>Travel insurance</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="mt-[32px] lg:flex lg:gap-[46px]">
            <button
              type="button"
              class="flex h-[54px] w-full items-center justify-center rounded bg-but text-16 transition-all hover:border hover:border-solid hover:border-white hover:bg-bg md:w-[169px] lg:w-[144px]"
            >
              Book
            </button>
            <div class="hidden w-[320px] gap-[72px] text-32 lg:flex">
              <span>Price:</span>
              <span>3000 UAH</span>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide w-[375px] md:w-[834px] lg:w-[704px]">
        <picture>
          <source
            media="(max-width: 833px)"
            srcset="
              ./images/mob/mob-tours-3.jpg    1x,
              ./images/mob/mob-tours-3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 834px) and (max-width: 1439px)"
            srcset="
              ./images/tab/tab-tours-3.jpg    1x,
              ./images/tab/tab-tours-3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desk/desk-tours-3.jpg    1x,
              ./images/desk/desk-tours-3@2x.jpg 2x
            "
          />
          <img
            src="./images/mob/mob-tours-3.jpg"
            alt="Sea coast"
            loading="lazy"
            class="h-[409px] w-full object-cover md:h-[642px] lg:h-[515px] lg:w-[704px] lg:rounded-md"
          />
        </picture>

        <div
          class="px-[16px] pt-[16px] md:px-[32px] md:pt-[40px] lg:pt-[106px]"
        >
          <h3 class="h-[68px] text-24 md:h-[45px] md:text-32">
            Black Sea Jewel
          </h3>
          <div
            class="pt-[16px] md:flex md:gap-[32px] md:pt-[24px] lg:block lg:gap-0 lg:pt-[32px]"
          >
            <ul
              class="h-[220px] w-[343px] list-outside list-disc pl-[25px] font-lato text-16 md:h-[154px] md:w-[496px]"
            >
              <li>Departure from Odessa (08:00)</li>
              <li>Primorsky Boulevard (city's scenic walk)</li>
              <li>Potemkin Steps (historical site and great city view)</li>
              <li>Odessa Opera and Ballet Theatre (exterior visit)</li>
              <li>Lunch at a local seafood restaurant</li>
              <li>Return to Odessa by 20:00</li>
            </ul>

            <div class="mt-[16px] text-18 md:mt-0 lg:mt-[18px]">
              <p>Included:</p>
              <ul class="mt-[17px] flex flex-col gap-[10px] font-lato text-16">
                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-transfer"></use>
                  </svg>
                  <span>Transfer</span>
                </li>

                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-card"></use>
                  </svg>
                  <span>Travel insurance</span>
                </li>

                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-face"></use>
                  </svg>
                  <span>Professional guide</span>
                </li>

                <li class="flex gap-[16px]">
                  <svg class="h-6 w-6">
                    <use href="images/icons.svg#icon-ticket"></use>
                  </svg>
                  <span>Travel insurance</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="mt-[32px] lg:flex lg:gap-[46px]">
            <button
              type="button"
              class="flex h-[54px] w-full items-center justify-center rounded bg-but text-16 transition-all hover:border hover:border-solid hover:border-white hover:bg-bg md:w-[169px] lg:w-[144px]"
            >
              Book
            </button>
            <div class="hidden w-[320px] gap-[72px] text-32 lg:flex">
              <span>Price:</span>
              <span>3500 UAH</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="absolute bottom-0 left-[16px] z-10 flex w-[343px] items-center justify-between md:left-[169px] md:w-[496px] lg:bottom-[540px] lg:left-[32px] lg:w-[1376px]"
    >
      <svg
        class="swiper-prev-1 w-[114px] cursor-pointer fill-current text-grey transition-all hover:text-white md:w-[144px]"
        viewBox="0 0 116 24"
      >
        <path
          d="M.94 10.94a1.5 1.5 0 0 0 0 2.12l9.545 9.547a1.5 1.5 0 1 0 2.122-2.122L4.12 12l8.486-8.485a1.5 1.5 0 1 0-2.122-2.122L.94 10.94ZM116 10.5H2v3h114v-3Z"
        />
      </svg>

      <svg
        class="swiper-next-1 w-[114px] cursor-pointer fill-current text-grey transition-all hover:text-white md:w-[144px]"
        viewBox="0 0 116 24"
      >
        <path
          d="M115.061 13.06a1.502 1.502 0 0 0 0-2.12l-9.546-9.547a1.5 1.5 0 0 0-2.122 2.122L111.879 12l-8.486 8.485a1.501 1.501 0 0 0 2.122 2.122l9.546-9.546ZM0 13.5h114v-3H0v3Z"
        />
      </svg>
    </div>

    <div
      class="absolute bottom-[85px] right-[42px] hidden h-[389px] w-[475px] bg-tours-back bg-cover bg-center bg-no-repeat lg:block dpr:bg-tours-back2x"
    ></div>
  </div>
</section>
