@font-face {
  font-display: swap;
  font-family: "Jomolhari";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/jomolhari-v18-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/lato-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/lato-v24-latin-700.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-modal: linear-gradient(to bottom, #141a19, #072025, #111b1c);
    --bg-hero: linear-gradient(
      to bottom,
      #959396,
      #424554 20%,
      #a5948a 70%,
      #1d2527
    );
    --bg-hero-mirror: linear-gradient(
      15deg,
      #fff -54.67%,
      rgba(255, 255, 255, 0) 58.38%
    );
  }
}

.nav-link {
  @apply relative flex h-[35px] items-center transition-all duration-200 before:absolute before:bottom-0 before:left-1/2 before:h-0.5 before:w-0 before:rounded-full before:bg-white before:opacity-0 before:transition-all before:duration-200 hover:before:left-0 hover:before:w-full hover:before:opacity-100;
}
