@font-face {
  font-display: swap;
  font-family: "Jomolhari";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/jomolhari-v18-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/lato-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/lato-v24-latin-700.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-gradient: linear-gradient(to top right, #475569, #64748b, #94a3b8);
  }
}
